$white: #FFFFFF;
$white0: #FFFFFF;
$white1: #FAFAFA;
$white2: #F5F5F5;
$white3: #F0F0F0;
$blue: #337ab7;
$green: #5cb85c;
$yellow: #f0ad4e;
$red: #c9302c;
$color-border: #E0E0E0;

$color-title: #000000;
$color-text: #333333;
$color-tip: #888888;
$color-disable: #AAAAAA;

$style-border: 1px solid $color-border;
